<h1><%= title "Editing soccer player" %></h1>

<% form_for(@soccer_player) do |f| %>
  <%= f.error_messages %>
  <%= render f %>
  <p>
    <%= f.label :team_id %><br />
    <%= f.collection_select(:team_id, Team.all, :id, :name, :include_blank => true) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', soccer_players_path %>
